# Private Key
PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Infura Api Key
INFURA_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Block explorer API keys
ETHERSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ARBISCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SNOWTRACE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BSCSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
POLYGONSCAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx